body {
    margin: 0;
}

.top-container {
    border: 1px solid red;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
}

.top-container > * {
    border: 1px solid blue;
}

.top-container .main-content{
    grid-column: 2 / -1;
}

.top-container .header {
    grid-column: 1 / -1;
    background-color: yellow;
}

.top-container .main-content {
    background-color: rgb(13, 198, 231);
}

.top-container .sidebar {
    background-color: rgb(186, 233, 19);
}

.top-container button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 1rem 1rem 0;
    font-size: 2rem;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
}