body {
    margin: 0;
}

.top-container {
    border: 1px solid red;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
}

.top-container > * {
    border: 1px solid blue;
}